:root{
    --dark-navy : rgba(49, 62, 81, 1);
    --gray-navy : rgba(98, 108, 127, 1);
    --pure-white : rgba(255, 255, 255, 1);
    --purple: rgba(167, 41, 245, 1);
}

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    background: url('../img/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f4f6fa;
}

.container{
    margin-inline: auto;
    width: 1160px;
    display: flex;
    justify-content: space-between;
}



/* Container Left Side */
.container-leftside{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.container-leftside h1{
    display: flex;
    flex-direction: column;
    line-height: 64px;
    color: var(--dark-navy);
    font-size: 64px;
    font-weight: 300;
}

.container-leftside h1 span{
    font-weight: 500;
}

/* Container Right Side */

.subject-list{
    width: 564px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 1;
}

.subject-link{
    text-decoration: none;
    color: var(--dark-navy);
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: var(--pure-white);
    padding: 20px;
    border-radius: 24px;
}

/* Dark Mode Toggle */

.top-bar-container{
    width: 1160px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 124px;
    justify-content: space-between;
}

.toggle{
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}
.toggle-input{
    display: none;
}
.toggle-fill{
    position: relative;
    width: 48px;
    height: 28px;
    border-radius: 20px;
    background: var(--purple);
}

.toggle-fill::after{
    content: "";
    position: absolute;
    top: 15%;
    left: 10%;
    height: 20px;
    width: 20px;
    background: #ffff;
    box-shadow: 0 0 10px rgba(0,0,0.25);
    border-radius: 50%;
    transition: transform .5s;
}

.toggle-input:checked ~ .toggle-fill::after{
    transform: translateX(20px);
}

/* Question Page Styling */
.small-text{
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    color: var(--gray-navy);
}

.question-text{
    font-weight: 500;
    font-size: 36px;
    line-height: 43.2px;
    color: var(--dark-navy);
}