:root{
    --dark-navy : rgba(49, 62, 81, 1);
    --gray-navy : rgba(98, 108, 127, 1);
    --pure-white : rgba(255, 255, 255, 1);
}

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    background: url('../img/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f4f6fa;
}

.container{
    margin-top: 224px;
    margin-inline: auto;
    width: 1160px;
    display: flex;
    justify-content: space-between;
}

/* Container Left Side */
.container-leftside{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.container-leftside h1{
    display: flex;
    flex-direction: column;
    line-height: 64px;
    color: var(--dark-navy);
    font-size: 64px;
    font-weight: 300;
}

.container-leftside h1 span{
    font-weight: 500;
}

.container-leftside > span{
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    color: var(--gray-navy);
}

/* Container Right Side */

.subject-list{
    width: 564px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 1;
}

.subject-link{
    text-decoration: none;
    color: var(--dark-navy);
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: var(--pure-white);
    padding: 20px;
    border-radius: 24px;
}